<!DOCTYPE html>
<html>
<head>
  <title>ReactAndCheese</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
  <% if logged_in? %>
    <%= react_component("NavBar") %>
  <% else %>
    <%= react_component("LoggedOutNavBar") %>
  <% end %>
<%= yield %>
</div>
</body>
</html>
